*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #eee;
}
.aqua
{
    position: relative;
    padding: 15px 40px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #444;
    box-shadow: inset 0 10px 5px rgba(0,0,0,0.05),
    0 25px 8px rgba(0,0,0,0.05),
    0 20px 15px rgba(0,0,0,0.05),
    inset 0 -10px 15px rgba(255,255,255,0.9);
    border-radius: 50px;
}
.aqua::before
{
    content: '';
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    width: 65%;
    height: 5px;
    background: #fff;
}