* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #363a3b;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.btns {
  position: relative;
  width: 240px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgba(0,0,0,0.1);
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #7ef0ff;
  letter-spacing: 0.1em;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.btns:hover {
  filter: drop-shadow(0 0 10px #7ef0ff) drop-shadow(0 0 30px #7ef0ff);
  color: #363a3b;
}
.btns span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #7ef0ff;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s ease-in-out;
}
.btns:hover span {
  transform: scaleX(1);
  transform-origin: left;
}