*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}
ul {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}
ul li {
  position: relative;
  list-style: none;
}
ul li a {
  position: relative;
  font-size: 3em;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: 0.5s;
}
ul li a:hover{
  color: #69ff41;
}