*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1
{
    font-size: 5vw;
}
.loader
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #181b1c;
    z-index: 100000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s ease-out;
}
.counter
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.counter .number
{
    position: absolute;
    color: #fff;
    font-size: 10vw;
    font-weight: 300;
    bottom: 4vh;
    right: 4vw;
}
.counter .number span
{
    font-size: 0.5em;
}
.progress
{
    position: relative;
    width: 100%;
    height: 5px;
    background: #2f3034;
}
.progress .percentBar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 11%;
    height: 100%;
    background: #fff;
    transition: 0.1s;
}