*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section {
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}
.box{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}
.box:nth-child(1){
    filter: blur(10px);
}
.box:nth-child(2){
    clip-path: circle(100px at var(--x) var(--y));
}
.box h2 {
    position: absolute;
    color: #fff;
    font-size: 8em;
    text-transform: uppercase;
    transform: translate((calc(var(--x) / 25), calc(var(--y)/25)));
}

.circle{
    position: absolute;
    top: -100px;
    left: -100px;
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 5px 25px rgba(0,0,0,0.25);
    transform: translate(var(--x),var(--y));
}