*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: repeating-linear-gradient(0deg, #fff 0%, #fff 50%, #666 50%, #666 100%),repeating-linear-gradient(90deg, #fff 0%, #fff 50%,#666 50%, #666 100%);
  background-size: 30px 30px;
  background-blend-mode: difference;
}
span{
  position: absolute;
  width: 150px;
  height: 150px;
  background: url(image.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  pointer-events: none;
  border-radius: 50%;
}