*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000001;
}
.typing-container{
    display: flex;
    font-size: 2em;
    color: #fff;
    letter-spacing: 0.1em;
    width: 100%;
    padding: 50px;
}
.cursor{
    display: inline-block;
    margin-left: 2px;
    color: 2px;
    animation: blink 0.6s step-end infinite;
}
@keyframes blink{
    50%{
        opacity: 0;
    }
}